@media (max-width: 768px) {
    .container {
        width: 90%;
        min-height: auto;
    }

    .sign-in {
        width: 100%;
    }

    .toggle-container {
        display: none;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #92953DFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* CONTENEDOR PRINCIPAL */
.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: flex;  /* Distribuir el formulario y la imagen en columnas */
}

/* BOTÓN */
.container button {
    background-color: #BB8F16FF;
    color: white;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button:hover {
    background-color: #92953DFF;
}

/* FORMULARIO */
.form-container {
    width: 50%;  /* El formulario ocupa el 50% del contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

/* CONTENEDOR DE LA IMAGEN */
.img-container {
    width: 50%;  /* El contenedor de la imagen ocupa el otro 50% */
    background: #BB8F16FF;
    display: flex;
    justify-content: center;  /* Centra la imagen horizontalmente */
    align-items: center;  /* Centra la imagen verticalmente */
}

.img-container img {
    max-width: 90%;  /* Ajusta el ancho máximo de la imagen */
    height: auto;  /* Mantiene la proporción */
    object-fit: contain;  /* Asegura que la imagen no se deforme */
    margin: 0 auto;
    display: block;
}